# .editorconfig -*- mode: conf -*-
# https://editorconfig.org/
# https://pinterest.github.io/ktlint/latest/rules/configuration-ktlint/
# https://spec.editorconfig.org/#supported-pairs
root = true

[*]
charset                   = utf-8
indent_style              = space
indent_size               = 4
spelling_language         = en
trim_trailing_whitespace  = true
insert_final_newline      = false

[*.gd]
indent_style              = tab

[Makefile]
indent_style = tab

[makefile]
indent_style = tab
