#  .envrc -*- mode: sh -*-
# See https://direnv.net/
# export VAR=VAL
# PATH_add val

# venv location
export UV_PROJECT_ENVIRONMENT="$PWD/.temp/venv"
# readthedocs uses its own location
[[ -z "${READTHEDOCS:-}" ]] || export UV_PROJECT_ENVIRONMENT="$READTHEDOCS_VIRTUALENV_PATH"

# activate the venv if it exists
[[ ! -d "${UV_PROJECT_ENVIRONMENT:- }" ]] || source "$UV_PROJECT_ENVIRONMENT/bin/activate"

# Extend with local tasks
export PYTHONPATH="$PWD/.tasks:$PYTHONPATH"

# user local
PATH_add "$HOME/.local/bin"

# asdf
PATH_add "$ASDF_DATA_DIR/shims"
asdf reshim

# For dotnet
DOTNET_ROOT="$(asdf where dotnet)"
export DOTNET_ROOT
PATH_add "$DOTNET_CLI_HOME/.dotnet/tools"

# For repo-local tasks
PATH_add "$PWD/.tasks"

# -- Core Polyglot Environment Variables for .envrc
export POLYGLOT_ROOT="$PWD"

export POLYGLOT_SRC="$PWD/addons/jg_asset_packer"
export POLYGLOT_DATA="$PWD/addons/jg_asset_packer"

export POLYGLOT_TEMP="$PWD/.temp"
export POLYGLOT_LOGS="$PWD/.temp/logs"
export POLYGLOT_DOCS="$PWD/.temp/docs"

export POLYGLOT_DEFAULT_LANGS="godot"
export POLYGLOT_DEFAULT_TOOLS="docs"
export POLYGLOT_DEFAULT_TASKS="validate;sync;build;clean;export;release"
# --

# Pre-commit skipping:
# export SKIP=""

export LIBRARIAN_HANDLERS=""
