# .tool-versions -*- mode: Conf[Space] -*-
# https://asdf-vm.com/manage/configuration.html#tool-versions
# https://mise.jdx.dev/dev-tools/
direnv          2.37.1
polyglot        0.3.0
git-cliff       1.4.0
git-lfs         3.7.1
rust            1.91.1
uv              0.9.28
pre-commit      4.5.1
godot 4.6.1
